  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
}
* {
  /* outline: 1px solid magenta; */
}
html {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 15px;
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 786px) {
    /* width:100%; */
    margin:0 165px 0 165px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
     grid-template-rows: 183px 300px 274px 260px;
     /* justify-items:end; */
     align-items:start;

  }
}

.header {
  height: 88px;
  
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsl(36, 100%, 99%);
  position: fixed;
  justify-content: space-between;
  column-gap: 50px;
  @media (min-width: 768px) {
    position:static;
    /* grid-column-start:3; */
    /* grid-column-end:4; */
    /* grid-column-end:3 / span 2; */
    /* align-self:start; */
    grid-column-start:span 3;
    justify-self:end;
    top: 0px;
    opacity:1;
    background-color: none;
    display:grid;
    width:100%;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows:1fr;
   /* direction:rtl;  */
  }
}
.navigation {
  display: none;
  @media (min-width: 786px) {
    display: flex;
    /* grid-column-end:3 ; */
grid-column:-1;
    grid-auto-flow:revert;
    width:100%;
    text-align:right;
    /* flex-direction:row; */
    justify-content:space-between;
    /* justify-items:center; */
    margin-top:89px;
    color: hsl(233, 8%, 79%);
  column-gap:40px;
  }
}
.navigation--open {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: fixed;
  min-height: 100%;
  height: auto;
  z-index: 9;
  right: 0;
  width: 65%;
  font-size: 20px;
  text-align: start;
  line-height: 48px;
  background-color: hsl(36, 100%, 99%);
  text-decoration: none;
  padding: 150px 0 0 25px;

}

.navLink {
  text-decoration: none;
    color: hsl(236, 13%, 42%);
}

.burger {
  position: absolute;
  display: block;
  background-image: url(/assets/images/icon-menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 17px;
  right: 16px;
  top: 34px;
  @media (min-width: 768px) {
    display: none;
  }
}

.button--closed {
  position: absolute;
  display: block;
  background-image: url(/assets/images/icon-menu-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px;
  z-index: 10;
  position: fixed;
  height: 31px;
  right: 21px;
  top: 27px;
}
.logo {
  /* position: absolute; */
  display: block;
  background-image: url(/assets/images/logo.svg);
  /* background-size: contain; */
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 16px;
  top: 28px;
  object-fit: contain;
  grid-column-start: 1;
  background-position:left ;
  @media(min-width:786px)
  {
    /* position:absolute; */
    /* margin-left:164px; */
    margin-top:61px;
  }
}
.mainHeader {
  font-size: 29px;
  font-weight: 800;
  width: 278px;
  margin-left: 18px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  @media (min-width: 786px) {
    font-size: 45px;
    /* margin-left: 165px; */
    margin-top:20px;
    /* background-color:magenta; */
    grid-row-start:1;
    grid-row-end:3;
  }
}

.mainGraphic {
  background-image: url("assets/images/image-web-3-mobile.jpg");
  width: 100%;
  max-width: 344px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 88px;
  @media (min-width: 376px) {
    display: grid;
    height: 100px;
  }
  @media (min-width: 786px) {
    background-image: url("assets/images/image-web-3-desktop.jpg");
    display: flex;
    max-width: 729px;
    height: 300px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    /* margin-left: 165px; */
    margin-top: 0px;
  }
}
.firstSection {
  @media (min-width: 786px) {
    display: grid;
    /* width:729px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:repeat(2,1fr);
    grid-column-start:span 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;

  }
}
.firstSectionParagraph {
 line-height: 1.3;
  margin: 0;
  display: flex;
  width: 93%;
  color: hsl(236, 13%, 42%);
  margin-left: 16px;
  @media(min-width:786px)
  {
    margin:0;
    display:block;
    margin-top:20px;
    height:auto;
    grid-row-start:1;
    grid-column-start:2;
    width:320px;
  }
}
.readMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 48px;
  margin-left: 16px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  margin-bottom: 76px;
  grid-column-start: 2;
  grid-column-end: 3;
  letter-spacing: 4px;
  margin-top: 16px;
  @media(min-width:786px)
  {
    margin:0;
    grid-row-start:2;

  }
}
.readMore:hover
{
  background-color: hsl(240, 100%, 5%);
}
.secondSection {
  @media (min-width: 786px) {
    grid-row-start:2;
    grid-row-end:4;
    /* margin-right: 165px; */
    width: 352px;
    /* margin-top: 213px; */
    /* grid-column-start:3; */
    grid-column:3;
    justify-self:end;
  }
}
.secondSectionBlock {
  /* width: 91.5%; */
  margin: 0;
  height: 475px;
  background-color: hsl(240, 100%, 5%);
  color: #fff;
  padding:0 24px 0px 24px;
}
.secondSectionHeader {
  font-size: 40px;
  margin: 0;
  color: hsl(35, 77%, 62%);
  padding: 30px 0 0 0px;
  margin-bottom: 40px;
}
.secondSectionParagraph {
  margin: 0;
}
.secondSectionList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Item {
  border: 0;
  border-bottom-width: 0.15px;
  border-bottom-style: solid;
  /* padding: 0 32px 37px 22px; */
  color: hsl(233, 8%, 79%);
  padding-bottom: 35px;
}
.Itemheader {
  color: hsl(36, 100%, 99%);
}
.Itemheader:hover
{
  color:hsl(35, 77%, 62%);
}
.Element {
  display: grid;
  grid-template-columns: repeat(1fr, 2fr);
  @media(min-width:786px)
  {
    width:330px;
  }
}
.thirdSection {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  @media(min-width:786px)
  {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;

  }
}
.thirdSectionList {
  width: 100%;
  list-style-position: inside;
  display: grid;
  grid-template-columns: (1fr);
  grid-template-rows: repeat(3, 1fr);
  @media(min-width: 786px)
  {
    width: 100%;
    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows:1fr;
    padding:0;
    margin:0;
    /* margin-left:125px;
    margin-right:165px; */
  }
}

.thirdItem {
  border: 0;
  padding-bottom: 32px;
}
.firstElement {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  @media (min-width: 786px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    /* margin-left:165px; */
  }
}

.secondElement {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  @media (min-width: 786px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}
.thirdElement {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  @media (min-width: 786px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    /* justify-self:end; */
    margin-left:18px;
  }
}
.ElementContainer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: (1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 35px;
  column-gap: 25px;
  height: 128px;
  @media (min-width: 786px) {
    width: 210px;
    margin-right: 50px;
  }
}
.firstElementPicture {
  /* content: url("assets/images/image-retro-pcs.jpg"); */
  background-image: url("assets/images/image-retro-pcs.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ElementNumber {
  display: flex;
  color: hsl(233, 8%, 79%);
  font-weight: 600;
  font-size: 30px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.secondElementPicture {
  /* content: url("assets/images/image-top-laptops.jpg"); */
  background-image: url("assets/images/image-top-laptops.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.thirdElementPicture {
  /* content: url("assets/images/image-gaming-growth.jpg"); */
  background-image: url("assets/images/image-gaming-growth.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ElementHeader {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 14px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  @media (min-width: 786px) {
    width: 100%;
  }
}
.ElementHeader:hover
{
  color:hsl(5, 85%, 63%);

}

.listArticle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  color: hsl(236, 13%, 42%);
  padding-right: 32px;
  font-size: 13px;
  line-height: 26px;
  @media (min-width: 786px) {
    width: 100%;
  }
}

.thirdSection {
  padding-bottom: 55px;
}
