@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
}
body {
  font-size: 15px;
}
main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHeader {
  font-size: 29px;
  font-weight: 800;
}
.mainGraphic {
  background-image: url("assets/images/image-web-3-mobile.jpg");
  width: 344px;
  height: 300px;
  background-size: contain;
  @media (min-width: 375px) {
    display: flex;
  }
}
.readMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 48px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
}
.secondSectionHeader {
  color: hsl(35, 77%, 62%);
}
.secondSectionBlock {
  background-color: hsl(240, 100%, 5%);
  color: #fff;
}
.secondSectionList {
  list-style: none;
}
.Element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.firstElement::before {
  /* content: url("assets/images/image-retro-pcs.jpg"); */
  background-image: url("assets/images/image-retro-pcs.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";
}
.firstElement::marker {
  font-size: 23px;
  font-weight: 800;
}
.secondElement::before {
  /* content: url("assets/images/image-top-laptops.jpg"); */
  background-image: url("assets/images/image-top-laptops.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";
}
.thirdElement::before {
  /* content: url("assets/images/image-gaming-growth.jpg"); */
  background-image: url("assets/images/image-gaming-growth.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";
}
.ElementHeader {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
}

.listArticle {
  grid-column: 2;
  color: hsl(236, 13%, 42%);
}
.navigation {
  display: none;
  @media (min-width: 375px) {
    display: inline;
  }
}
