@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
}
* {
  /* outline: 1px solid magenta; */
}
html {
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 15px;
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 786px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.header {
  height: 88px;
  width: 100%;
  display: flex;
  background-color: hsl(36, 100%, 99%);
  position: fixed;
}
.navigation {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
.navigation--open {
  display: flex;
  flex-direction: column;
  text-align: end;
  position: fixed;
  min-height: 100%;
  height: auto;
  z-index: 9;
  right: 0;
  width: 65%;
  font-size: 20px;
  text-align: start;
  line-height: 48px;
  background-color: hsl(36, 100%, 99%);
  text-decoration: none;
  padding: 150px 0 0 25px;
}

.navLink {
  text-decoration: none;
  color: hsl(240, 100%, 5%);
}

.burger {
  position: absolute;
  display: block;
  background-image: url(/assets/images/icon-menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 17px;
  right: 16px;
  top: 34px;
  @media (min-width: 768px) {
    display: none;
  }
}

.button--closed {
  position: absolute;
  display: block;
  background-image: url(/assets/images/icon-menu-close.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 31px;
  z-index: 10;
  position: fixed;
  height: 31px;
  right: 21px;
  top: 27px;
}
.logo {
  position: absolute;
  display: block;
  background-image: url(/assets/images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 45px;
  height: 28px;
  left: 16px;
  top: 28px;
}
.mainHeader {
  font-size: 29px;
  font-weight: 800;
  width: 278px;
  margin-left: 18px;
}

.mainGraphic {
  background-image: url("assets/images/image-web-3-mobile.jpg");
  width: 100%;
  max-width: 344px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 88px;
  @media (min-width: 376px) {
    display: grid;
    height: 100px;
  }
  @media (min-width: 786px) {
    background-image: url("assets/images/image-web-3-desktop.jpg");

    max-width: 608px;
    height: 250px;
  }
}
.firstSectionParagraph {
  margin: 0;
  display: flex;
  width: 93%;
  color: hsl(236, 13%, 42%);
  margin-left: 16px;
}
.readMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 48px;
  margin-left: 16px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
  margin-bottom: 76px;
}
.secondSectionBlock {
  width: 91.5%;
  margin: 0 16px;
  background-color: hsl(240, 100%, 5%);
  color: #fff;
}
.secondSectionHeader {
  font-size: 40px;
  margin: 0;
  color: hsl(35, 77%, 62%);
  padding: 30px 0 0 23px;
  margin-bottom: 40px;
}
.secondSectionParagraph {
  margin: 0;
}
.secondSectionList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.Item {
  border: 0;
  border-bottom-width: 0.15px;
  border-bottom-style: solid;
  padding: 0 32px 37px 22px;
  color: hsl(233, 8%, 79%);
}
.Itemheader {
  color: hsl(36, 100%, 99%);
}
.Element {
  display: grid;
  grid-template-columns: (1fr, 2fr);
}
.thirdSection {
  display: flex;
}
.thirdSectionList {
  list-style-position: inside;
  display: grid;
  grid-template-columns: (1fr);
  grid-template-rows: repeat(3, 1fr);
}

.thirdItem {
  border: 0;
  padding-bottom: 32px;
}
.firstElement {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.secondElement {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.thirdElement {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
.ElementContainer {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: (1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 35px;
  column-gap: 25px;
  height: 128px;
}
.firstElementPicture {
  /* content: url("assets/images/image-retro-pcs.jpg"); */
  background-image: url("assets/images/image-retro-pcs.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ElementNumber {
  display: flex;
  color: hsl(233, 8%, 79%);
  font-weight: 600;
  font-size: 30px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.secondElementPicture {
  /* content: url("assets/images/image-top-laptops.jpg"); */
  background-image: url("assets/images/image-top-laptops.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.thirdElementPicture {
  /* content: url("assets/images/image-gaming-growth.jpg"); */
  background-image: url("assets/images/image-gaming-growth.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ElementHeader {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  font-size: 14px;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.listArticle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  color: hsl(236, 13%, 42%);
  padding-right: 32px;
  font-size: 13px;
  line-height: 26px;
}

.thirdSection {
  padding-bottom: 55px;
}
