@font-face {
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
}
body {
  font-size: 15px;
}
main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainHeader {
  font-size: 29px;
  font-weight: 800;
  width: 278px;
}
.mainGraphic {
  background-image: url("assets/images/image-web-3-mobile.jpg");
  width: 344px;
  height: 300px;
  background-size: contain;
  @media (min-width: 375px) {
    display: grid;
    height: 100px;
  }
}
.firstSectionParagraph {
  margin: 0;
  display: flex;
  width: 93%;
}
.readMore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 185px;
  height: 48px;
  background-color: hsl(5, 85%, 63%);
  color: #fff;
}
.secondSectionBlock {
  width: 358px;
  margin: 0 16px;
}
.secondSectionHeader {
  color: hsl(35, 77%, 62%);
}
.secondSectionBlock {
  background-color: hsl(240, 100%, 5%);
  color: #fff;
}
.secondSectionList {
  list-style: none;
}
.Element {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: (1fr, 2fr);
  /* grid-template-rows: repeat(2, 1fr); */
  grid-template-rows: repeat(2, 1fr);
  padding-bottom: 35px;
  column-gap: 25px;
}
.firstElement::before {
  /* content: url("assets/images/image-retro-pcs.jpg"); */
  background-image: url("assets/images/image-retro-pcs.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.firstElement::marker {
  font-size: 23px;
  font-weight: 800;
  content: "✝ ";
  font-size: 1.2em;
}
.secondElement::before {
  /* content: url("assets/images/image-top-laptops.jpg"); */
  background-image: url("assets/images/image-top-laptops.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.thirdElement::before {
  /* content: url("assets/images/image-gaming-growth.jpg"); */
  background-image: url("assets/images/image-gaming-growth.jpg");
  background-size: 100px 128px;
  display: inline-block;
  width: 100px;
  height: 128px;
  content: "";

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.ElementHeader {
  color: hsl(240, 100%, 5%);
  font-weight: 800;
}

.listArticle {
  grid-column: 2;
  color: hsl(236, 13%, 42%);
}
.navigation {
  display: none;
  @media (min-width: 375px) {
    display: inline-block;
  }
}
.thirdSection {
  padding-bottom: 55px;
}
